/*
Theme Name: Shop Startup
Template: best-shop
Author: gradientthemes
Author URI: https://gradientthemes.com/
Version: 1.0.1
Requires PHP: 5.6
Tested up to: 6.8.3
Description: Shop Startup is a modern, responsive WooCommerce WordPress theme designed to create professional online shops and storefronts. Perfect for fashion boutiques, lifestyle brands, homeware sellers, and marketplaces, it combines sleek design with powerful WooCommerce features like product wishlists, comparison tools, and variation swatches. Fully compatible with Elementor, Divi, Visual Composer, and Gutenberg, it offers effortless customization, while its SEO-friendly, mobile-responsive, and fast-loading structure ensures a smooth shopping experience across all devices. With RTL support, flexible layouts, and conversion-focused styling, Shop Startup is the ideal shop theme for building a standout WooCommerce storefront.
Tags: blog, one-column, two-columns,three-columns, right-sidebar, left-sidebar, grid-layout, sticky-Post, footer-widgets,custom-background, custom-header, custom-colors, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready, full-width-template, rtl-language-support, theme-options, e-commerce, food-and-drink
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: green_Store
*/


  .custom_product_widget .woocommerce-ordering {
    display: none;
  }
  .custom_product_widget .woocommerce-result-count {
    font-size: 0.9em;
    margin-bottom: 10px;
    margin-top: 0.5em;
    font-style: italic;
  }
  .custom_product_widget .woocommerce nav.woocommerce-pagination .page-numbers li, .custom_product_widget .woocommerce nav.woocommerce-pagination .page-numbers li a, .custom_product_widget .woocommerce nav.woocommerce-pagination .page-numbers li span.page-numbers {
    line-height: 10px;
    height: 25px;
    width: 25px;
    border: initial;
    font-size: 14px;
  }
  .custom_product_widget .woocommerce a.added_to_cart {
    padding-top: .0em;
    padding-bottom: 10px;
  }
  /* * Slow motion zoom container */
  .custom_product_widget li, .woocommerce ul.products li {
    transition: transform .9s;
  }
  /* * The Transformation */
  .custom_product_widget li:hover, .woocommerce ul.products li:hover {
    -ms-transform: scale(1.04);
    /* IE 9 */
    -webkit-transform: scale(1.04);
    /* Safari 3-8 */
    transform: scale(1.04);
  }
  .hover-area .yith-wcwl-wishlistexistsbrowse {
    display: none;
  }
  .page .entry-content li a, .page .comments-list .comment-meta-data a {
    text-decoration: underline;
  }
  /*********************** * Accessibility ready * ***********************/
  .comment-content a {
    text-decoration: underline;
  }
  #secondary .widget a, #primary .page .entry-content table a {
    color: var(--glb-primary-color);
  }
  #secondary .widget a:hover, #primary .page .entry-content table a:hover {
    color: var(--glb-secondary-color);
  }
  #primary .page .entry-content table a {
    text-decoration: underline;
  }
  .page .entry-content li a, .page .comments-list .comment-meta-data a, .comments-area .comment-respond a, .post .entry-content a {
    text-decoration: underline;
  }
  /* Fix for currency symbol issues */
  .woocommerce-Price-currencySymbol, .amount-cart {
    font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  /*header shadow*/
  #masthead {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
  .woocommerce-bar {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }
  div.product-search-form {

    border: 1px solid #e9e9e9;
  }
  .product-search-form button.header-search-button {

  }
  .site-header .top-bar-menu .right-menu ul li a:hover, .site-header .top-bar-menu .right-menu ul li a:focus, .site-header .top-bar-menu .left-menu ul li a:hover, .site-header .top-bar-menu .left-menu ul li a:focus, .breadcrumb-wrapper #crumbs a:hover, .breadcrumb-wrapper #crumbs a:focus, .site-branding .site-title a:hover, .site-branding .site-title a:focus, .site-main .entry-content ul li a:hover, .site-main .entry-content ul li a:focus {
    color: var(--gbl-secondary-color);
  }
  .woocommerce-bar .container {
    display: flex;
    justify-content: space-between !important;
  }
  .categories-menu-first {
    padding: 10px 20px 10px 4px !important;
  }
  /***** Preloader *******/
  .preloader-center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--glb-primary-color);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 9999;
  }
  .preloader-ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: preloader-ring 2s linear infinite;
  }
  .preloader-ring:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
  }
  .preloader-center span {
    color: #8e8c8c;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
  }
  @keyframes preloader-ring {
    0% {
      transform: rotate(0deg);
      box-shadow: 1px 5px 2px #e65c00;
    }
    50% {
      transform: rotate(180deg);
      box-shadow: 1px 5px 2px #18b201;
    }
    100% {
      transform: rotate(360deg);
      box-shadow: 1px 5px 2px #0456c8;
    }
  }
  @keyframes text {
    50% {
      color: black;
    }
  }
  .container .footer-newsletter-section .blossomthemes-email-newsletter-wrapper {
    background: transparent;
    color: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  section.newsletter-section .dt-newsletter-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: transparent;
    margin: 0;
    border-radius: 0px;
  }
  section.newsletter-section .dt-newsletter-wrapper .blossomthemes-email-newsletter-wrapper .text-holder span, section.newsletter-section .dt-newsletter-wrapper .blossomthemes-email-newsletter-wrapper > form > label .text {
    color: var(--footer-text-color);
  }


  .site-footer .footer-bottom .container.footer-info {
    border-top: 0px !important;
  }


  .site-header .header-wrapper .header-left ul li.current_page_item::after {
      color: var(--gbl-secondary-color);
  }

  .site-header .top-bar-menu .right-menu ul li a:hover {
     color :var(--gbl-secondary-color);
  }

